.add-buyer-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back-container {
    width: 100%;
    min-width: 775px;
}


.add-buyer-title {
    font-size: 32px;
}

.add-buyer-space {
    background-color: var(--grey-color);
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    min-width: 775px;
    height: 920px;
}

.buyer-row {
    min-width: 735px;
    display: flex;
    margin: 5px 0;

}

.name-input {
    padding: 10px 20px !important;
    margin-right: 20px;
    margin-bottom: 0;
    min-width: 515px;
    width: 100%;
}   

.remove-btn {
    margin-bottom: 0;
    margin-top: 0;
    height: 50px;
}

.add-btn {
    margin-top:15px;
}

.out-of-range {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 10px;
}

.done-container {
    height: 70px;
}

.done-btn {
    margin-bottom: 0;
    margin-top: 20px;
}

.btn-disabled {
    display: none;
}

.input-error-container {
    min-width: 515px;
    width: calc(100% - 220px);
    margin-right: 20px;

}

.error-message {
    color: var(--warm-color);
    padding-left: 5px;
}