.checkbox-wrapper {
    /* border: #00a7a6 1px solid; */
    /* width: 92%; */
    margin: 5px 0;
    padding: 0.2em 4%;
    border-radius: 7px;
    /* background-color: #00a7a6; */
}

.checkbox-wrapper .filled{
    background-color: var(--teal-color);
}

.checkbox-label {
    display: flex;
    margin: 0.3em 0;
    cursor: pointer;

}

.checkbox-title {
    margin-left: 1em;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.checkbox-description {
    width: 250px;
}

.checkbox-price {
    width: 100px;

}

.checkbox-wrapper input[type="checkbox"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 30px;
    height: 32px;
    /* border-radius: 0.15em; */
    margin: 0 !important;
    /* border: 0.15em solid #8e8e8e; */
    outline: none;
    padding: 0;
}

input.checked {
    background-color: var(--teal-color);
    position: relative;
}

input.checked::before {
    content: "\2714";
    font-size: 1.5em;
    color: #fff;
    position: absolute;
    right: 1px;
    top: -5px;
}

.buyerName-container {
    width: calc(100% - 350px);
    display: flex;
    justify-content: flex-end;
}

.buyerName {
    background-color: var(--warm-color);
    color: white;
    padding: 0 20px;
    border-radius: 5px;
    margin-right: 20px;
}