.tab-container {
    margin-bottom: 8px;
}

.result-tab-wrapper {
    margin: 5px 0;
    padding: 0.2em 4%;
    border-radius: 7px;
    background-color: white;
    transition: background-color 0.3s ease;
}

.result-tab-wrapper.active-tab {
    background-color: var(--teal-color);
}

.result-tab-label {
    display: flex;
    margin: 0.3em 0;
    cursor: pointer;
}

.result-tab-title {
    margin-left: 1em;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #0D0D0D;
}

.result-tab-title.active-text {
    color: white;
}

.result-tab-description {
    width: 250px;
}

.result-tab-price {
    width: 100px;
}

.checkbox-placeholder {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 32px;
    margin: 0 !important;
    outline: none;
    padding: 0;
}

.result-tab-num-items {
    width: calc(100% - 350px);
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
}

.result-list-items {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.result-list-items.open {
    max-height: 500px; 
    transition: max-height 0.3s ease-in;
}

.result-list-items-container {
    margin-bottom: 10px;
    padding: 0.2em 4%;
    display: flex;
}

.result-list-items-item {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    padding: 4px 0;
}

.result-list-items-title {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
}